<template>
  <div>
    <label>
      <h1>
        ตารางเกรดรายวิชาทั้ง 10 วิชา
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="gradeLists"
      :fields="fields"
    >
    </b-table>
    <br />
    <div>
      <router-link to="/checkStatus">
      <b-button variant="secondary" style="margin-right:10px;"
        >ย้อนกลับ</b-button></router-link>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import gradeService from './GradeService'
export default {
  data () {
    return {
      gradeLists: [],
      lastcourseCode: 11,
      fields: [
        { key: 'courseCode', label: 'รหัสรายวิชา' },
        { key: 'courseName', label: 'ชื่อวิชา' },
        { key: 'grade', label: 'เกรด' }
      ]
    }
  },
  methods: {
    getGrades () {
      axios
        .get('http://localhost:3000/grades')
        .then(res => {
          console.log(res)
          this.gradeLists = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getGrades()
  }
}
</script>
