<template>
  <div>
    <h3 class="float-left">ข้อมูลสถานประกอบการ</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-button variant="success" class="mr-sm-2" @click="addNewEstablishment()">เพิ่ม</b-button>
        <b-form-input v-model="search" class="mr-sm-2" placeholder="Search"></b-form-input>
        <b-button class="mr-sm-2" variant="primary" @click="searchEstablishment()">ค้นหา</b-button>
        <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchEstablishment()">Clear</b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-modal
      id="modal-form-establishment"
      ref="modal-form-establishment"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle= "ตกลง"
      cancelTitle= "ยกเลิก"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อสถานประกอบการ :"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ตำแหน่งที่สามารถสมัคร :"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-input
            id="position"
            v-model="form.position"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="จำนวนที่รับสมัคร :"
          label-for="acceptee"
          :invalid-feedback="invalidFeedbackAcceptee"
          :valid-feedback="validFeedbackAcceptee"
          :state="stateAcceptee"
        >
          <b-form-input
            id="acceptee"
            type="number"
            v-model="form.acceptee"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ประวัติโดยย่อ :"
          label-for="history"
          :invalid-feedback="invalidFeedbackHistory"
          :valid-feedback="validFeedbackHistory"
          :state="stateHistory"
        >
          <b-form-textarea
            id="history"
            v-model="form.history"
            rows="3"
            max-rows="6"
            :disabled="showToggle"
          ></b-form-textarea>
          <pre class="mt-3 mb-0">{{ history }}</pre>
        </b-form-group>
        <b-form-group
          label="ค่าจ้าง :"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :valid-feedback="validFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salary"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="email :"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <div v-if="haveresult">
      <b-table hover no-border-collapse
        head-variant="light" :items="establishmentList" :fields="fields" :per-page="perPage"
        :current-page="currentPage">
        <template v-slot:cell(operation)="data">
          <b-button variant="primary" @click="detailEstablishment(data.item)">รายละเอียด</b-button>
          &nbsp;
          <b-button variant="warning" @click="editEstablishment(data.item)">แก้ไข</b-button>
          &nbsp;
          <b-button variant="danger" @click="delEstablishment(data.item)">ลบ</b-button>
        </template>
      </b-table>
    </div>
    <div v-else><br><br><h4>ไม่พบผลลัพธ์การค้นหา</h4></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      showToggle: false,
      search: null,
      history: '',
      haveresult: true,
      title: 'เพิ่มข้อมูลสถานประกอบการ',
      form: {
        _id: '',
        id: -1,
        name: '',
        position: '',
        acceptee: '',
        history: '',
        salary: '',
        email: ''
      },
      establishmentList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อสถานประกอบการ' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    addNewEstablishment () {
      this.$bvModal.show('modal-form-establishment')
      this.showToggle = false
    },
    detailEstablishment (establishment) {
      this.title = 'รายละเอียด'
      this.form = { ...establishment }
      this.showToggle = true
      this.$bvModal.show('modal-form-establishment')
    },
    editEstablishment (establishment) {
      this.title = 'แก้ไขสถานประกอบการ'
      this.showToggle = false
      this.form = { ...establishment }
      this.$bvModal.show('modal-form-establishment')
    },
    delEstablishment (establishment) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + establishment.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'md',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/establishments/' + establishment._id)
              .then(res => {
                console.log(res)
                this.getEstablishments()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getEstablishments () {
      axios
        .get('http://localhost:3000/establishments/')
        .then(res => {
          console.log(res)
          this.establishmentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchEstablishment () {
      axios
        .get('http://localhost:3000/establishments/' + this.search)
        .then(res => {
          console.log(res)
          this.establishmentList = []
          this.establishmentList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchEstablishment () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getEstablishments()
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        position: '',
        acceptee: '',
        history: '',
        salary: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.statePosition === false ||
        this.stateAcceptee === false ||
        this.stateHistory === false ||
        this.stateSalary === false ||
        this.stateEmail === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/establishments', this.form)
          .then(res => {
            console.log(res)
            this.getEstablishments()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/establishments', this.form)
          .then(res => {
            console.log(res)
            this.getEstablishments()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-establishment')
      })
    }
  },
  computed: {
    rows () {
      return this.establishmentList.length
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อบริษัทต้องมีอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อบริษัท'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position.length >= 2
    },
    invalidFeedbackPosition () {
      if (this.form.position.length > 2) {
        return ''
      } else if (this.form.position.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ตำแหน่งที่รับสมัคร'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    stateAcceptee () {
      return this.form.acceptee >= 1
    },
    invalidFeedbackAcceptee () {
      if (this.form.acceptee >= 1) {
        return ''
      } else if (this.form.acceptee == null) {
        return ''
      } else {
        return 'กรุณาใส่จำนวนที่รับสมัคร'
      }
    },
    validFeedbackAcceptee () {
      return this.stateAcceptee === true ? 'สำเร็จ' : ''
    },
    stateHistory () {
      return this.form.history.length >= 10
    },
    invalidFeedbackHistory () {
      if (this.form.history.length > 10) {
        return ''
      } else {
        return 'กรุณาใส่ประวัติโดยย่อ'
      }
    },
    validFeedbackHistory () {
      return this.stateHistory === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.form.email
      )
    },
    stateSalary () {
      return this.form.salary >= 1
    },
    invalidFeedbackSalary () {
      if (this.form.salary >= 1) {
        return ''
      } else if (this.form.salary == null) {
        return ''
      } else {
        return 'กรุณาใส่จำนวนเงิน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    },
    invalidFeedbackEmail () {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(this.form.email)
      ) {
        return ''
      } else if (this.form.email == null) {
        return ''
      } else {
        return 'กรุณาใส่ E-mail'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getEstablishments()
  }
}
</script>
