<template>
  <div style="margin: 10px">
    <b-modal
      id="modal-form-student"
      size="lg"
      scrollable=""
      ref="modal-form-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle= "ตกลง"
      cancelTitle= "ยกเลิก"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ-นามสกุล"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            size="sm"
            v-model="form.name"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เพศ:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            size="sm"
            v-model="form.gender"
            :options="genderOptions"
            :disabled="show_sts"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="อายุ"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :valid-feedback="validFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            id="age"
            size="sm"
            type="number"
            min="1"
            max="99"
            v-model="form.age"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            size="sm"
            type="email"
            v-model="form.email"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="รหัสผ่าน"
          label-for="passwd"
          :invalid-feedback="invalidFeedbackPasswd"
          :valid-feedback="validFeedbackPasswd"
          :state="statePasswd"
        >
          <b-form-input
            id="passwd"
            size="sm"
            v-model="form.passwd"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="โทรศัพท์"
          label-for="tels"
          :invalid-feedback="invalidFeedbackTels"
          :valid-feedback="validFeedbackTels"
          :state="stateTels"
        >
          <b-form-input
            id="tels"
            size="sm"
            pattern="[0-9]+"
            minlength="10"
            maxlength="10"
            v-model="form.tels"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="วัน/เดือน/ปีเกิด"
          label-for="bdate"
          :invalid-feedback="invalidFeedbackBdate"
          :valid-feedback="validFeedbackBdate"
          :state="stateBdate"
        >
          <b-form-input
            id="bdate"
            type="date"
            size="sm"
            v-model="form.bdate"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ที่อยู่"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea
            id="address"
            size="sm"
            v-model="form.address"
            rows="3"
            max-rows="6"
            :disabled="show_sts"
          ></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <h3 class="float-left">ข้อมูลนิสิต</h3>
          <template>
            <div class="float-right">
               <b-nav-form>
                <b-form-input class="mr-sm-2" v-model="search" placeholder="Search"></b-form-input>
                <b-button class="mr-sm-2" variant="primary"  @click="searchStudent()">ค้นหา</b-button>
                <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchStudent()">Clear</b-button>
              </b-nav-form>
            </div>
          </template></b-col
        >
      </b-row>
    </b-container>
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <div v-if="haveresult">
      <b-table hover no-border-collapse
          head-variant="light" :items="studentList" :fields="fields" :per-page="perPage"
          :current-page="currentPage">
        <template v-slot:cell(operation)="data">
          <b-button variant="primary" @click="showStudent(data.item)">รายละเอียด</b-button>
          &nbsp;
          <b-button variant="warning" @click="editStudent(data.item)">แก้ไข</b-button>
        </template>
      </b-table>
    </div>
    <div v-else><h3>ไม่พบผลลัพธ์การค้นหา</h3></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
// import studentService from './StudentService'
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: 'เพิ่มข้อมูลนิสิตใหม่',
      haveresult: true,
      say_sts: true,
      show_sts: false,
      search: null,
      form: {
        _id: '',
        type: 'student',
        std_id: '',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: ''
      },
      genderOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'M', text: 'ชาย' },
        { value: 'F', text: 'หญิง' }
      ],
      studentList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'std_id', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'type', label: 'ประเภท' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    addNewStudent () {
      this.$bvModal.show('modal-form-student')
      this.show_sts = false
    },
    editStudent (student) {
      this.title = 'Edit Your Information'
      this.show_sts = false
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-student')
    },
    showStudent (student) {
      this.title = 'Show Your Information'
      this.show_sts = true
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-student')
    },
    getStudents () {
      axios
        .get('http://localhost:3000/students')
        .then(res => {
          this.studentList = []
          const list = res.data
          for (let i = 0; i < list.length; i++) {
            console.log(list[i])
            this.studentList.push(list[i])
          }
          // this.studentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchStudent () {
      axios
        .get('http://localhost:3000/students/' + this.search)
        .then(res => {
          console.log(res)
          this.studentList = []
          this.studentList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchStudent () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getStudents()
    },
    resetModal () {
      this.form = {
        _id: '',
        std_id: '',
        type: 'student',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateEmail === false ||
        this.statePasswd === false ||
        this.stateTels === false ||
        this.stateBdate === false ||
        this.stateAddress === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-student')
      })
    }
  },
  computed: {
    rows () {
      return this.studentList.length
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่อ-นามสกุล'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.age >= 1 && this.form.age <= 99
    },
    invalidFeedbackAge () {
      if (this.form.age >= 1 && this.form.age <= 99) {
        return ''
      } else if (this.form.age == null) {
        return 'กรุณาใส่อายุ'
      } else {
        return 'ใส่อายุระหว่าง 1 ถึง 99'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.form.email
      )
    },
    invalidFeedbackEmail () {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(this.form.email)
      ) {
        return ''
      } else if (this.form.email == null) {
        return 'กรุณาใส่ E-mail'
      } else {
        return 'กรุณาใส่ E-mail ให้ถูกต้อง'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    statePasswd () {
      return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)
    },
    invalidFeedbackPasswd () {
      if (/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)) {
        return ''
      } else if (this.form.passwd == null) {
        return 'กรุณาใส่รหัสผ่าน'
      } else {
        return '6 to 20 characters which contain at least 1 numeric digit, 1 uppercase and 1 lowercase letter'
      }
    },
    validFeedbackPasswd () {
      return this.statePasswd === true ? 'สำเร็จ' : ''
    },
    stateTels () {
      return /^\d{10}$/.test(this.form.tels)
    },
    invalidFeedbackTels () {
      if (/^\d{10}$/.test(this.form.tels)) {
        return ''
      } else if (this.form.tels == null) {
        return 'กรุณาใส่หมายเลขโทรศัพท์'
      } else {
        return 'ใส่หมายเลข 9 หลัก หรือ 10 หลัก'
      }
    },
    validFeedbackTels () {
      return this.stateTels === true ? 'สำเร็จ' : ''
    },
    stateBdate () {
      return this.form.bdate != null
    },
    invalidFeedbackBdate () {
      if (this.form.bdate != null) {
        return ''
      } else {
        return 'กรุณาเลือกวันเกิด'
      }
    },
    validFeedbackBdate () {
      return this.stateBdate === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length <= 255
    },
    invalidFeedbackAddress () {
      if (this.form.address.length <= 255) {
        return ''
      } else {
        return 'กรุณาใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getStudents()
  }
}
</script>
