<template>
  <div style="margin: 10px">
    <b-modal
      id="modal-form-student"
      size="lg"
      scrollable=""
      ref="modal-form-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle= "ตกลง"
      cancelTitle= "ยกเลิก"
    >
      <b-tabs content-class="mt-3" fill lazy>
        <b-tab title="ข้อมูล"
          ><form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
              label="รหัสนิสิต"
              label-for="stdId"
              :invalid-feedback="invalidFeedbackStdId"
              :valid-feedback="validFeedbackStdId"
              :state="stateStdId"
            >
              <b-form-input
                id="stdId"
                size="sm"
                v-model="form.std_id"
                minlength="8"
                maxlength="8"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="ชื่อ-นามสกุล"
              label-for="name"
              :invalid-feedback="invalidFeedbackName"
              :valid-feedback="validFeedbackName"
              :state="stateName"
            >
              <b-form-input
                id="name"
                size="sm"
                v-model="form.name"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="เพศ:"
              label-for="gender"
              :invalid-feedback="invalidFeedbackGender"
              :valid-feedback="validFeedbackGender"
              :state="stateGender"
            >
              <b-form-select
                id="gender"
                size="sm"
                v-model="form.gender"
                :options="genderOptions"
                :disabled="show_sts"
                required
              ></b-form-select>
            </b-form-group>
            <b-form-group
              label="อายุ"
              label-for="age"
              :invalid-feedback="invalidFeedbackAge"
              :valid-feedback="validFeedbackAge"
              :state="stateAge"
            >
              <b-form-input
                id="age"
                size="sm"
                type="number"
                min="1"
                max="99"
                v-model="form.age"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="Email"
              label-for="email"
              :invalid-feedback="invalidFeedbackEmail"
              :valid-feedback="validFeedbackEmail"
              :state="stateEmail"
            >
              <b-form-input
                id="email"
                size="sm"
                type="email"
                v-model="form.email"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="รหัสผ่าน"
              label-for="passwd"
              :invalid-feedback="invalidFeedbackPasswd"
              :valid-feedback="validFeedbackPasswd"
              :state="statePasswd"
            >
              <b-form-input
                id="passwd"
                size="sm"
                v-model="form.passwd"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="โทรศัพท์"
              label-for="tels"
              :invalid-feedback="invalidFeedbackTels"
              :valid-feedback="validFeedbackTels"
              :state="stateTels"
            >
              <b-form-input
                id="tels"
                size="sm"
                pattern="[0-9]+"
                minlength="10"
                maxlength="10"
                v-model="form.tels"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="วัน/เดือน/ปีเกิด"
              label-for="bdate"
              :invalid-feedback="invalidFeedbackBdate"
              :valid-feedback="validFeedbackBdate"
              :state="stateBdate"
            >
              <b-form-input
                id="bdate"
                type="date"
                size="sm"
                v-model="form.bdate"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="ที่อยู่"
              label-for="address"
              :invalid-feedback="invalidFeedbackAddress"
              :valid-feedback="validFeedbackAddress"
              :state="stateAddress"
            >
              <b-form-textarea
                id="address"
                size="sm"
                v-model="form.address"
                rows="3"
                max-rows="6"
                :disabled="show_sts"
              ></b-form-textarea>
            </b-form-group>
            <b-form-group
              label="Gpa"
              label-for="gpa"
              :invalid-feedback="invalidFeedbackGpa"
              :valid-feedback="validFeedbackGpa"
              :state="stateGpa"
            >
              <b-form-input
                id="gpa"
                size="sm"
                type="number"
                min="0.01"
                max="4.00"
                step="0.01"
                v-model="form.gpa"
                :disabled="show_sts"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="ปีการศึกษา"
              label-for="schoolyear"
              :invalid-feedback="invalidFeedbackSchoolyear"
              :valid-feedback="validFeedbackSchoolyear"
              :state="stateSchoolyear"
            >
              <b-form-select
                id="schoolyears"
                size="sm"
                v-model="form.schoolyear"
                :options="schoolyearOptions"
                :disabled="show_sts"
                required
              ></b-form-select>
            </b-form-group>
          </form>
        </b-tab>
        <b-tab title="สถานะ"
          ><b-form-group label="คุณสมบัติ" label-for="property">
            <b-form-select
              id="property"
              size="sm"
              v-model="form.status.property_sts"
              :options="propertyOptions"
              :disabled="show_sts"
            ></b-form-select>
          </b-form-group>
          <b-form-group label="เอกสาร" label-for="document">
            <b-form-select
              id="document"
              size="sm"
              v-model="form.status.doc_sts"
              :options="docOptions"
              :disabled="show_sts"
            ></b-form-select> </b-form-group
          ><b-form-group label="บริษัท" label-for="company">
            <b-form-select
              id="company"
              size="sm"
              v-model="form.status.company_sts"
              :options="companyOptions"
              :disabled="show_sts"
            ></b-form-select>
          </b-form-group>
          <b-form-group label="สัมภาษณ์" label-for="interv">
            <b-form-select
              id="interv"
              size="sm"
              v-model="form.status.interv_sts"
              :options="intervOptions"
              :disabled="show_sts"
            ></b-form-select>
          </b-form-group>
          <b-form-group label="สหกิจศึกษา" label-for="coop">
            <b-form-select
              id="coop"
              size="sm"
              v-model="form.status.coop_sts"
              :options="coopOptions"
              :disabled="show_sts"
            ></b-form-select> </b-form-group
        ></b-tab>
        <b-tab title="วิชา"
          ><template>
            <div>
              <b-table striped hover :items="form.subjects" :fields="subjFields"
                ><template v-slot:cell(Grade)="data">
                  <b-form-select
                    id="subjSelect"
                    size="sm"
                    v-model="data.item.grade"
                    :options="subjOptions"
                    :disabled="show_sts"
                  ></b-form-select> </template
              ></b-table>
            </div> </template
        ></b-tab>
        <b-tab title="ชั่วโมงอบรม"
          ><b-form-group label="เตรียมความพร้อม" label-for="prepare">
            <b-form-input
              id="prepare"
              size="sm"
              type="number"
              min="0"
              v-model="form.training.prepare"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="วิชาการ" label-for="academic">
            <b-form-input
              id="academic"
              size="sm"
              type="number"
              min="0"
              v-model="form.training.academic"
              :disabled="show_sts"
              required
            ></b-form-input> </b-form-group
        ></b-tab>
      </b-tabs>
    </b-modal>

    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <h3 class="float-left">ข้อมูลนิสิต</h3>
          <template>
            <div class="float-right">
               <b-nav-form>
                 <b-button variant="success" class="mr-sm-2" @click="addNewStudent()">เพิ่มนิสิต</b-button>
                  <b-form-input class="mr-sm-2" v-model="search" placeholder="Search"></b-form-input>
                  <b-button class="mr-sm-2" variant="primary" @click="searchStudent()">ค้นหา</b-button>
                  <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchStudent()" >Clear</b-button>
                </b-nav-form>
            </div>
          </template>
        </b-col>
      </b-row>
    </b-container>
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <div v-if="haveresult">
      <b-table hover no-border-collapse
          head-variant="light" :items="studentList" :fields="fields" :per-page="perPage"
          :current-page="currentPage">
        <template v-slot:cell(operation)="data">
          <b-button variant="primary" @click="showStudent(data.item)">รายละเอียด</b-button>
          &nbsp;
          <b-button variant="warning" @click="editStudent(data.item)">แก้ไข</b-button>
          &nbsp;
          <b-button variant="danger" @click="delStudent(data.item)">ลบ</b-button>
        </template>
      </b-table>
    </div>
    <div v-else><h3>ไม่พบผลลัพธ์การค้นหา</h3></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
// import studentService from './StudentService'
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: 'เพิ่มข้อมูลนิสิตใหม่',
      haveresult: true,
      say_sts: true,
      show_sts: false,
      search: null,
      form: {
        _id: '',
        type: 'student',
        std_id: '',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: '',
        gpa: null,
        schoolyear: null,
        status: {
          property_sts: null,
          doc_sts: null,
          company_sts: null,
          interv_sts: null,
          coop_sts: null
        },
        training: {
          prepare: null,
          academic: null
        },
        subjects: [
          {
            id: '88510059',
            name: 'Logical Thinking and Problem Solving for Innovation',
            grade: null
          },
          {
            id: '88510259',
            name: 'Discrete Structures',
            grade: null
          },
          {
            id: '88620259',
            name: 'Relational Database',
            grade: null
          },
          {
            id: '88620359',
            name: 'Non-Relational Database',
            grade: null
          },
          {
            id: '88620459',
            name: 'Introduction to Data Science',
            grade: null
          },
          {
            id: '88510459',
            name: 'Programming Fundamental',
            grade: null
          },
          {
            id: '88620159',
            name: 'Object-Oriented Programming Paradigm',
            grade: null
          },
          {
            id: '88634159',
            name: 'Software Development',
            grade: null
          },
          {
            id: '88631159',
            name: 'Algorithm Design and Application',
            grade: null
          },
          {
            id: '88621159',
            name: 'Data Structures and Algorithms',
            grade: null
          }
        ]
      },
      genderOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'M', text: 'ชาย' },
        { value: 'F', text: 'หญิง' }
      ],
      propertyOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'pass', text: 'ผ่าน' },
        { value: 'fail', text: 'ไม่ผ่าน' }
      ],
      docOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'pass', text: 'ผ่าน' },
        { value: 'fail', text: 'ไม่ผ่าน' }
      ],
      companyOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'pending', text: 'รอดำเนินการ' },
        { value: 'pass', text: 'ผ่าน' },
        { value: 'fail', text: 'ไม่ผ่าน' }
      ],
      intervOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'pending', text: 'รอดำเนินการ' },
        { value: 'pass', text: 'ผ่าน' },
        { value: 'fail', text: 'ไม่ผ่าน' }
      ],
      coopOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 'Pending', text: 'กำลังฝึก' },
        { value: 'Pass', text: 'ผ่าน' },
        { value: 'Fail', text: 'ไม่ผ่าน' }
      ],
      schoolyearOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 2563, text: '2563' },
        { value: 2564, text: '2564' }
      ],
      subjOptions: [
        { text: '-กรุณาเลือก-', value: null },
        { value: 4.0, text: 'A' },
        { value: 3.5, text: 'B+' },
        { value: 3.0, text: 'B' },
        { value: 2.5, text: 'C+' },
        { value: 2.0, text: 'C' },
        { value: 1.5, text: 'D+' },
        { value: 1.0, text: 'D' },
        { value: 0, text: 'F' }
      ],
      studentList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'std_id', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'operation', label: 'การทำงาน' }
      ],
      subjFields: [
        { key: 'id', label: 'รหัสวิชา' },
        { key: 'name', label: 'ชื่อวิชา' },
        { key: 'Grade', label: 'เกรด' }
      ]
    }
  },
  methods: {
    addNewStudent () {
      this.$bvModal.show('modal-form-student')
      this.show_sts = false
    },
    editStudent (student) {
      this.title = 'แก้ไขนิสิต'
      this.show_sts = false
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      let sumGpa = 0
      for (let i = 0; i < 10; i++) {
        sumGpa += this.form.subjects[i].grade
      }
      if (
        sumGpa >= 2.5 &&
        this.form.training.prepare >= 30 &&
        this.form.training.academic >= 12
      ) {
        this.form.status.property_sts = 'pass'
      }
      this.$bvModal.show('modal-form-student')
    },
    showStudent (student) {
      this.title = 'รายละเอียดนิสิต'
      this.show_sts = true
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-student')
    },
    delStudent (student) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ ' + student.name + '?',
          {
            title: 'Pกรุณายืนยัน',
            size: 'lg',
            buttonSize: 'md',
            okVariant: 'danger',
            okTitle: 'ตกลง',
            cancelTitle: 'ยกเลิก',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // studentService.deleteStudent(student)
            axios
              .delete('http://localhost:3000/students/' + student._id)
              .then(res => {
                console.log(res)
                this.getStudents()
              })
              .catch(err => {
                console.log(err)
                console.log(student._id)
              })
          }
        })
    },
    getStudents () {
      axios
        .get('http://localhost:3000/students')
        .then(res => {
          this.studentList = []
          const list = res.data
          for (let i = 0; i < list.length; i++) {
            if (list[i].type === 'student') {
              console.log(list[i])
              this.studentList.push(list[i])
            }
          }
          // this.studentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchStudent () {
      axios
        .get('http://localhost:3000/students/' + this.search)
        .then(res => {
          console.log(res)
          this.studentList = []
          this.studentList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchStudent () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getStudents()
    },
    resetModal () {
      this.form = {
        _id: '',
        std_id: '',
        type: 'student',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: '',
        gpa: null,
        schoolyear: null,
        status: {
          property_sts: null,
          doc_sts: null,
          company_sts: null,
          interv_sts: null,
          coop_sts: null
        },
        training: {
          prepare: null,
          academic: null
        },
        subjects: [
          {
            id: '88510059',
            name: 'Logical Thinking and Problem Solving for Innovation',
            grade: null
          },
          {
            id: '88510259',
            name: 'Discrete Structures',
            grade: null
          },
          {
            id: '88620259',
            name: 'Relational Database',
            grade: null
          },
          {
            id: '88620359',
            name: 'Non-Relational Database',
            grade: null
          },
          {
            id: '88620459',
            name: 'Introduction to Data Science',
            grade: null
          },
          {
            id: '88510459',
            name: 'Programming Fundamental',
            grade: null
          },
          {
            id: '88620159',
            name: 'Object-Oriented Programming Paradigm',
            grade: null
          },
          {
            id: '88634159',
            name: 'Software Development',
            grade: null
          },
          {
            id: '88631159',
            name: 'Algorithm Design and Application',
            grade: null
          },
          {
            id: '88621159',
            name: 'Data Structures and Algorithms',
            grade: null
          }
        ]
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateStdId === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateEmail === false ||
        this.statePasswd === false ||
        this.stateTels === false ||
        this.stateBdate === false ||
        this.stateAddress === false ||
        this.stateGpa === false ||
        this.stateSchoolyear === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-student')
      })
    },
    checkIdExist (stdId, Id) {
      console.log(this.studentList.length)
      for (let i = 0; i < this.studentList.length; i++) {
        if (this.studentList[i].std_id === stdId) {
          if (this.studentList[i]._id !== Id) {
            this.say_sts = false
          } if (this.studentList[i]._id === Id) {
            this.say_sts = true
          }
          break
        }
      }
      return this.say_sts
    }
  },
  computed: {
    rows () {
      return this.studentList.length
    },
    stateStdId () {
      return (
        this.checkIdExist(this.form.std_id, this.form._id) &&
        /^\d{8}$/.test(this.form.std_id)
      )
    },
    invalidFeedbackStdId () {
      if (
        this.checkIdExist(this.form.std_id, this.form._id) &&
        /^\d{8}$/.test(this.form.std_id)
      ) {
        return ''
      } else {
        return 'รหัสนิสิตมี 8 หลัก'
      }
    },
    validFeedbackStdId () {
      return this.stateStdId === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.age >= 1 && this.form.age <= 99
    },
    invalidFeedbackAge () {
      if (this.form.age >= 1 && this.form.age <= 99) {
        return ''
      } else if (this.form.age == null) {
        return 'กรุณาใส่อายุ'
      } else {
        return 'ใส่อายุระหว่าง 1 ถึง 99'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.form.email
      )
    },
    invalidFeedbackEmail () {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(this.form.email)
      ) {
        return ''
      } else if (this.form.email == null) {
        return 'กรุณาใส่ E-mail'
      } else {
        return 'กรุณาใส่ E-mail ให้ถูกต้อง'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    statePasswd () {
      return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)
    },
    invalidFeedbackPasswd () {
      if (/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)) {
        return ''
      } else if (this.form.passwd == null) {
        return 'กรุณาใส่รหัสผ่าน'
      } else {
        return '6 to 20 characters which contain at least 1 numeric digit, 1 uppercase and 1 lowercase letter'
      }
    },
    validFeedbackPasswd () {
      return this.statePasswd === true ? 'สำเร็จ' : ''
    },
    stateTels () {
      return /^\d{10}$/.test(this.form.tels)
    },
    invalidFeedbackTels () {
      if (/^\d{10}$/.test(this.form.tels)) {
        return ''
      } else if (this.form.tels == null) {
        return 'กรุณาใส่หมายเลขโทรศัพท์'
      } else {
        return 'ใส่หมายเลข 9 หลัก หรือ 10 หลัก'
      }
    },
    validFeedbackTels () {
      return this.stateTels === true ? 'สำเร็จ' : ''
    },
    stateBdate () {
      return this.form.bdate != null
    },
    invalidFeedbackBdate () {
      if (this.form.bdate != null) {
        return ''
      } else {
        return 'กรุณาเลือกวันเกิด'
      }
    },
    validFeedbackBdate () {
      return this.stateBdate === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 10
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 10) {
        return ''
      } else {
        return 'กรุณาใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateGpa () {
      return this.form.gpa >= 0.01 && this.form.gpa <= 4.0
    },
    invalidFeedbackGpa () {
      if (this.form.gpa >= 0.01 && this.form.gpa <= 4.0) {
        return ''
      } else if (this.form.gpa == null) {
        return 'กรุณาใส่เกรด'
      } else {
        return 'ใส่เกรดได้ตั้งแต่ 1.00 ถึง 4.00'
      }
    },
    validFeedbackGpa () {
      return this.stateGpa === true ? 'สำเร็จ' : ''
    },
    stateSchoolyear () {
      return this.form.schoolyear != null
    },
    invalidFeedbackSchoolyear () {
      if (this.form.schoolyear != null) {
        return ''
      } else {
        return 'กรุณาเลือกปีการศึกษา'
      }
    },
    validFeedbackSchoolyear () {
      return this.stateSchoolyear === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getStudents()
  }
}
</script>
