<template>
  <div>
    <h3 class="float-left">รายชื่อนิสิต</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-form-input v-model="search" class="mr-sm-2" placeholder="Search"></b-form-input>
        <b-button class="mr-sm-2" variant="primary" @click="searchTeacher()">ค้นหา</b-button>
        <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchstudent()">Clear</b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-modal
      id="modal-form-teacher"
      ref="modal-form-teacher"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle="ตกลง"
      cancelTitle="ยกเลิก"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อไฟล์"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="namefile"
            v-model="form.namefile"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="รายละเอียด"
          label-for="detail"
          :invalid-feedback="invalidFeedbackDetail"
          :valid-feedback="validFeedbackDetail"
          :state="stateDetail"
        >
          <b-form-input
            id="detail"
            v-model="form.detail"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="วันเวลาที่อัพโหลด"
          label-for="date"
          :invalid-feedback="invalidFeedbackDate"
          :valid-feedback="validFeedbackDate"
          :state="stateDate"
        >
          <b-form-input
            id="date"
            type="date"
            v-model="form.date"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <div v-if="haveresult">
      <b-table hover no-border-collapse head-variant="light" :items="teacherList" :fields="fields"
        :per-page="perPage" :current-page="currentPage">
        <template v-slot:cell(report)="data">
          <b-button size="sm" variant="primary" @click="checkTeacher(data.item)">ดูรายงานความก้าวหน้า</b-button
          >
        </template>
      </b-table>
    </div>
    <div v-else><br /><br /><h4>ไม่พบผลลัพธ์การค้นหา</h4>
    </div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      haveresult: true,
      showToggle: false,
      search: null,
      title: '',
      form: {
        _id: 1,
        name: '',
        detail: '',
        date: null
      },
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'std_id', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'report', label: 'รายงานความก้าวหน้าล่าสุด' },
        { key: 'company', label: 'บริษัทสหกิจ' }
      ],
      teacherList: []
    }
  },
  methods: {
    checkTeacher (teacher) {
      this.form = { ...teacher }
      this.showToggle = true
      this.$bvModal.show('modal-form-teacher')
    },
    getTeachers () {
      axios
        .get('http://localhost:3000/Students/')
        .then(res => {
          console.log(res)
          this.teacherList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchTeacher () {
      axios
        .get('http://localhost:3000/teachers/' + this.search)
        .then(res => {
          console.log(res)
          this.teacherList = []
          this.teacherList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchTeacher () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getTeachers()
    },
    resetModal () {
      this.form = {
        _id: 1,
        name: '',
        detail: '',
        date: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.stateDetail === false ||
        this.stateDate === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/teachers', this.form)
          .then(res => {
            console.log(res)
            this.getTeachers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/teachers', this.form)
          .then(res => {
            console.log(res)
            this.getTeachers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-teacher')
      })
    }
  },
  computed: {
    rows () {
      return this.teacherList.length
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อบริษัทต้องมีอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อบริษัท'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateDetail () {
      return this.form.detail.length >= 10
    },
    invalidFeedbackDetail () {
      if (this.form.detail.length > 10) {
        return ''
      } else {
        return 'กรุณาใส่รายละเอียด'
      }
    },
    validFeedbackDetail () {
      return this.stateDetail === true ? 'สำเร็จ' : ''
    },
    stateDate () {
      return this.form.date != null
    },
    invalidFeedbackDate () {
      if (this.form.date != null) {
        return ''
      } else {
        return 'ต้องใส่วันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getTeachers()
  }
}
</script>
