<template>
  <div>
    <h3 class="float-left">ชั่วโมงอบรมสหกิจ</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-button variant="success" class="mr-sm-2" @click="addNewHour()">เพิ่ม</b-button>
        <b-form-input v-model="search" class="mr-sm-2" placeholder="Search"></b-form-input>
        <b-button class="mr-sm-2" variant="primary" @click="searchHour()">ค้นหา</b-button>
        <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchHour()">Clear</b-button>
      </b-nav-form>
    </b-navbar-nav>

      <b-modal
        id="modal-form-hour2"
        ref="modal-form-hour2"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
        okTitle="ตกลง"
        cancelTitle="ยกเลิก"
      >
        <b-form-group
          label="ชั่วโมงเตรียมความพร้อม"
          label-for="ready"
          :invalid-feedback="invalidFeedbackReady"
          :valid-feedback="validFeedbackReady"
          :state="stateReady"
        >
          <b-form-input
            id="ready"
            size="sm"
            type="number"
            min="1"
            max="99"
            v-model="form.ready"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="ชั่วโมงทางวิชาการ"
          label-for="academic"
          :invalid-feedback="invalidFeedbackAcademic"
          :valid-feedback="validFeedbackAcademic"
          :state="stateAcademic"
        >
          <b-form-input
            id="academic"
            size="sm"
            type="number"
            min="1"
            max="99"
            v-model="form.academic"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
      </b-modal>

      <b-modal
        id="modal-form-hour"
        ref="modal-form-hour"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
        okTitle="ตกลง"
        cancelTitle="ยกเลิก"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="รหัสนิสิต"
            label-for="idPerson"
            :invalid-feedback="invalidFeedbackIdPerson"
            :valid-feedback="validFeedbackIdPerson"
            :state="stateIdPerson"
          >
            <b-form-input
              id="idPerson"
              size="sm"
              minlength="8,"
              maxlength="8,"
              v-model="form.idPerson"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ชื่อ-นามสกุล"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
          >
            <b-form-input
              id="name"
              size="sm"
              v-model="form.name"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="สาขา"
            label-for="branch"
            :invalid-feedback="invalidFeedbackBranch"
            :valid-feedback="validFeedbackBranch"
            :state="stateBranch"
          >
            <b-form-input
              id="branch"
              size="sm"
              v-model="form.branch"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ชั่วโมงเตรียมความพร้อม"
            label-for="ready"
            :invalid-feedback="invalidFeedbackReady"
            :valid-feedback="validFeedbackReady"
            :state="stateReady"
          >
            <b-form-input
              id="ready"
              size="sm"
              type="number"
              min="1"
              max="99"
              v-model="form.ready"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ชั่วโมงทางวิชาการ"
            label-for="academic"
            :invalid-feedback="invalidFeedbackAcademic"
            :valid-feedback="validFeedbackAcademic"
            :state="stateAcademic"
          >
            <b-form-input
              id="academic"
              size="sm"
              type="number"
              min="1"
              max="99"
              v-model="form.academic"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>
        </form>
      </b-modal>
    <div v-if="haveresult">
      <b-table hover no-border-collapse
          head-variant="light" :items="hourList" :fields="fields" :per-page="perPage"
        :current-page="currentPage">
        <template v-slot:cell(operation)="data">
          <b-button variant="warning" @click="editHour(data.item)">แก้ไข</b-button>
          &nbsp;
          <b-button variant="danger" @click="delHour(data.item)">ลบ</b-button>
        </template>
      </b-table>
    </div>
    <div v-else><br><br><h4>ไม่พบผลลัพธ์การค้นหา</h4></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      haveresult: true,
      showToggle: false,
      search: null,
      title: 'เพิ่มข้อมูลอบรม',
      form: {
        _id: '',
        idPerson: '',
        name: '',
        branch: '',
        ready: '',
        academic: ''
      },
      hourList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'idPerson', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'branch', label: 'สาขา' },
        { key: 'ready', label: 'ชั่วโมงเตรียมความพร้อม' },
        { key: 'academic', label: 'ชั่วโมงทางวิชาการ' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    addNewHour () {
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-hour')
    },
    editHour (hour) {
      console.log('Edit ')
      console.log(hour)
      this.title = 'แก้ไขข้อมูล'
      this.form = { ...hour }
      this.$bvModal.show('modal-form-hour2')
    },
    delHour (hour) {
      console.log('Delete ')
      console.log(hour)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + hour.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ตกลง',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deletUser(user)
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/hours/' + hour._id)
              .then(res => {
                console.log(res)
                this.getHours()
              })
            this.getHours()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: -1,
        idPerson: '',
        name: '',
        branch: '',
        ready: '',
        academic: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateIdPerson === false ||
        this.stateName === false ||
        this.stateBranch === false ||
        this.stateReady === false ||
        this.stateAcademic === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/hours', this.form)
          .then(res => {
            console.log(res)
            this.getHours()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/hours', this.form)
          .then(res => {
            console.log(res)
            this.getHours()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-hour')
      })
    },
    getHours () {
      axios
        .get('http://localhost:3000/hours')
        .then(res => {
          console.log(res)
          this.hourList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchHour () {
      axios
        .get('http://localhost:3000/hours/' + this.search)
        .then(res => {
          console.log(res)
          this.hourList = []
          this.hourList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchHour () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getHours()
    }
  },
  computed: {
    rows () {
      return this.hourList.length
    },
    stateIdPerson () {
      return this.form.idPerson.length === 8
    },
    invalidFeedbackIdPerson () {
      if (this.form.idPerson.length === 8) {
        return ''
      } else {
        return 'ต้องใส่ รหัสนิสิต'
      }
    },
    validFeedbackIdPerson () {
      return this.stateIdPerson === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อบริษัทต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อนิสิต'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateBranch () {
      return this.form.branch.length >= 1
    },
    invalidFeedbackBranch () {
      if (this.form.branch.length >= 1) {
        return ''
      } else {
        return 'ต้องใส่สาขาของนิสิต'
      }
    },
    validFeedbackBranch () {
      return this.stateBranch === true ? 'สำเร็จ' : ''
    },
    stateReady () {
      return this.form.ready >= 1 && this.form.ready <= 99
    },
    invalidFeedbackReady () {
      if (this.form.ready >= 1 && this.form.ready <= 99) {
        return ''
      } else {
        return 'ต้องใส่ต้องจำนวนชั่วโมงอบรมเตรียมความพร้อม'
      }
    },
    validFeedbackReady () {
      return this.stateReady === true ? 'สำเร็จ' : ''
    },
    stateAcademic () {
      return this.form.academic >= 1 && this.form.academic <= 99
    },
    invalidFeedbackAcademic () {
      if (this.form.academic >= 1 && this.form.academic <= 99) {
        return ''
      } else {
        return 'ต้องใส่ต้องจำนวนชั่วโมงอบรมวิชาการ'
      }
    },
    validFeedbackAcademic () {
      return this.stateAcademic === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getHours()
  }
}
</script>
