<template>
  <div>
    <h3 class="float-left">รายการอบรม</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-form-input v-model="search" class="mr-sm-2" placeholder="Search"></b-form-input>
        <b-button class="mr-sm-2" variant="primary" @click="searchTrain()">ค้นหา</b-button>
        <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchTrain()">Clear</b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-modal
      id="modal-form-train"
      ref="modal-form-train"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle= "ตกลง"
      cancelTitle= "ยกเลิก"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อโครงการ :"
          label-for="name"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="วันที่จัดงาน :"
          label-for="date"
          :valid-feedback="validFeedbackDate"
          :state="stateDate"
        >
          <b-form-input
            id="date"
            type="date"
            v-model="form.date"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            label="เวลา"
            label-for="time"
            :invalid-feedback="invalidFeedbackTime"
            :valid-feedback="validFeedbackTime"
            :state="stateTime"
          >
            <b-form-input
              id="time"
              v-model="form.time"
              :disabled="showToggle"
              required
            ></b-form-input>
        </b-form-group>
        <b-form-group
            label="สถานที่"
            label-for="room"
            :state="stateRoom"
          >
          <b-form-input
            id="room"
            v-model="form.room"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ประเภท :"
          label-for="type"
          :valid-feedback="validFeedbackType"
          :state="stateType"
        >
          <b-form-input
            id="type"
            v-model="form.type"
            :options="typeOptions"
            :disabled="showToggle"
            required
          ></b-form-input>
          </b-form-group>
          <b-form-group
            label="บริษัท :"
            label-for="corperation"
            :valid-feedback="validFeedbackCoroeration"
            :state="stateCorperation"
          >
            <b-form-input
              id="corperation"
              v-model="form.corperation"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="จำนวนชม."
            label-for="hours"
            :valid-feedback="validFeedbackHours"
            :state="stateHours"
          >
            <b-form-input
              id="hours"
              size="sm"
              type="number"
              min="1"
              max="24"
              v-model="form.hours"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>
      </form>
    </b-modal>
    <div v-if="haveresult">
      <b-table hover no-border-collapse
        head-variant="light" :items="trainList" :fields="fields" :per-page="perPage"
          :current-page="currentPage">
        <template v-slot:cell(operation)="data">
          <b-button variant="primary" @click="detailTrain(data.item)">รายละเอียด</b-button>
          &nbsp;
          <b-button variant="success" @click="registerTrain()"> {{ show ? 'ลงทะเบียน' :'ลงทะเบียนแล้ว' }} </b-button>
        </template>
      </b-table>
    </div>
    <div v-else><br><br><h4>ไม่พบผลลัพธ์การค้นหา</h4></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: '',
      showToggle: false,
      haveresult: true,
      search: null,
      show: true,
      form: {
        _id: -1,
        name: '',
        date: null,
        time: '',
        room: '',
        type: null,
        corperation: '',
        hours: ''
      },
      trainList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อโครงการ' },
        { key: 'date', label: 'วันที่จัดงาน' },
        { key: 'time', label: 'เวลา' },
        { key: 'room', label: 'ห้อง' },
        { key: 'type', label: 'ประเภท' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    detailTrain (train) {
      this.title = 'รายละเอียด'
      this.form = { ...train }
      this.showToggle = true
      let date = new Date(this.form.date)
      this.form.date = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-train')
    },
    registerTrain (train) {
      this.show = !this.show
    },
    getTrains () {
      axios
        .get('http://localhost:3000/trains/')
        .then(res => {
          console.log(res)
          this.trainList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchTrain () {
      axios
        .get('http://localhost:3000/trains/' + this.search)
        .then(res => {
          console.log(res)
          this.trainList = []
          this.trainList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchTrain () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getTrains()
    },
    resetModal () {
      this.form = {
        _id: -1,
        name: '',
        date: null,
        timein: '',
        timeoutt: '',
        room: '',
        type: '',
        corperation: '',
        hours: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.stateDate === false ||
        this.stateTime === false ||
        this.stateType === false ||
        this.stateRoom === false ||
        this.stateCorperation === false ||
        this.stateDetailss === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/trains/', this.form)
          .then(res => {
            console.log(res)
            this.getTrains()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/trains/', this.form)
          .then(res => {
            console.log(res)
            this.getTrains()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-train')
      })
    }
  },
  computed: {
    rows () {
      return this.trainList.length
    }
  },
  mounted () {
    this.getTrains()
  }
}
</script>
