<template>
  <div>
    <h3 class="float-left">ข้อมูลการอบรมสหกิจ</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-button variant="success" class="mr-sm-2" @click="addNewTrain()">เพิ่ม</b-button>
        <b-form-input v-model="search" class="mr-sm-2" placeholder="Search"></b-form-input>
        <b-button class="mr-sm-2" variant="primary" @click="searchTrain()">ค้นหา</b-button>
        <b-button class="my-2 my-sm-0" variant="warning" @click="clearSearchTrain()">Clear</b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-modal
      id="modal-form-train"
      ref="modal-form-train"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      okTitle= "ตกลง"
      cancelTitle= "ยกเลิก"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
           label="ชื่อโครงการ"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
        >
          <b-form-input
              id="name"
              v-model="form.name"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="วันที่จัดงาน"
            label-for="date"
            :invalid-feedback="invalidFeedbackDate"
            :valid-feedback="validFeedbackDate"
            :state="stateDate"
          >
            <b-form-input
              id="date"
              type="date"
              v-model="form.date"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="เวลา"
            label-for="time"
            :invalid-feedback="invalidFeedbackTime"
            :valid-feedback="validFeedbackTime"
            :state="stateTime"
          >
            <b-form-input
              id="time"
              v-model="form.time"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ห้อง"
            label-for="room"
            :invalid-feedback="invalidFeedbackRoom"
            :valid-feedback="validFeedbackRoom"
            :state="stateRoom"
          >
            <b-form-input
              id="room"
              v-model="form.room"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ประเภทโครงการ:"
            label-for="type"
            :invalid-feedback="invalidFeedbackType"
            :valid-feedback="validFeedbackType"
            :state="stateType"
          >
            <b-form-select
              id="type"
              v-model="form.type"
              :options="typeOptions"
              :disabled="showToggle"
              required
            ></b-form-select>
          </b-form-group>
           <b-form-group
            label="บริษัท :"
            label-for="corperation"
            :invalid-feedback="invalidFeedbackCorperation"
            :valid-feedback="validFeedbackCorperation"
            :state="stateCorperation"
          >
            <b-form-input
              id="corperation"
              v-model="form.corperation"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="จำนวนชม."
            label-for="hours"
            :invalid-feedback="invalidFeedbackHours"
            :valid-feedback="validFeedbackHours"
            :state="stateHours"
          >
            <b-form-input
              id="hours"
              size="sm"
              type="number"
              min="1"
              max="24"
              v-model="form.hours"
              :disabled="showToggle"
              required
            ></b-form-input>
          </b-form-group>
        </form>
      </b-modal>
      <div v-if="haveresult">
        <b-table hover no-border-collapse
          head-variant="light" :items="trainList" :fields="fields" :per-page="perPage"
          :current-page="currentPage">
          <template v-slot:cell(operation)="data">
              <b-button variant="primary" @click="checkTrain(data.item)">เช็ค</b-button>
              &nbsp;
              <b-button variant="warning" @click="editTrain(data.item)">แก้ไข</b-button>
              &nbsp;
              <b-button variant="danger" @click="delTrain(data.item)">ลบ</b-button>
          </template>
        </b-table>
    </div>
    <div v-else><br><br><h4>ไม่พบผลลัพธ์การค้นหา</h4></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      haveresult: true,
      showToggle: false,
      search: null,
      title: 'เพิ่มข้อมูลอบรม',
      form: {
        _id: 1,
        name: '',
        date: null,
        time: '',
        room: '',
        type: null,
        corperation: '',
        hours: ''
      },
      typeOptions: [
        { text: 'Select One', value: null },
        { value: 'วิชาการ', text: 'วิชาการ' },
        { value: 'เตรียมความพร้อม', text: 'เตรียมความพร้อม' }
      ],
      trainList: [],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อโครงการ' },
        { key: 'date', label: 'วันที่จัดงาน' },
        { key: 'time', label: 'เวลา' },
        { key: 'room', label: 'ห้อง' },
        { key: 'type', label: 'ประเภท' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    addNewTrain () {
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-train')
      this.showToggle = false
    },
    checkTrain (train) {
      this.title = 'รายละเอียด'
      this.showToggle = true
      this.form = { ...train }
      let date = new Date(this.form.date)
      this.form.date = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-train')
    },
    editTrain (train) {
      this.title = 'แก้ไขข้อมูล'
      this.showToggle = false
      this.form = { ...train }
      this.$bvModal.show('modal-form-train')
    },
    delTrain (train) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + train.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'md',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/trains/' + train._id)
              .then(res => {
                console.log(res)
                this.getTrains()
              })
              .catch(err => {
                console.log(err)
                console.log(train._id)
              })
          }
        })
    },
    getTrains () {
      axios
        .get('http://localhost:3000/trains/')
        .then(res => {
          console.log(res)
          this.trainList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchTrain () {
      axios
        .get('http://localhost:3000/trains/' + this.search)
        .then(res => {
          console.log(res)
          this.trainList = []
          this.trainList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchTrain () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getTrains()
    },
    resetModal () {
      this.form = {
        _id: 1,
        name: '',
        date: null,
        time: '',
        room: '',
        type: null,
        corperation: '',
        hours: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.stateDate === false ||
        this.stateTime === false ||
        this.stateRoom === false ||
        this.stateType === false ||
        this.stateCorperation === false ||
        this.stateDetailss === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/trains/', this.form)
          .then(res => {
            console.log(res)
            this.getTrains()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/trains/', this.form)
          .then(res => {
            console.log(res)
            this.getTrains()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-train')
      })
    }
  },
  computed: {
    rows () {
      return this.trainList.length
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อบริษัทต้องมีอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อบริษัท'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกชนืดการอบรม.'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateDate () {
      return this.form.date != null
    },
    invalidFeedbackDate () {
      if (this.form.date != null) {
        return ''
      } else {
        return 'ต้องใส่วันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    },
    stateTime () {
      return this.form.time.length >= 1
    },
    invalidFeedbackTime () {
      if (this.form.time.length >= 1) {
        return ''
      } else {
        return 'ต้องใส่เวลาในการอบรม'
      }
    },
    validFeedbackTime () {
      return this.stateTime === true ? 'สำเร็จ' : ''
    },
    stateRoom () {
      return this.form.room.length >= 1
    },
    invalidFeedbackRoom () {
      if (this.form.room.length >= 1) {
        return ''
      } else {
        return 'ต้องใส่สถานที่อบรม'
      }
    },
    validFeedbackRoom () {
      return this.stateRoom === true ? 'สำเร็จ' : ''
    },
    stateCorperation () {
      return this.form.corperation.length >= 2
    },
    invalidFeedbackCorperation () {
      if (this.form.corperation.length >= 2) {
        return ''
      } else {
        return 'ต้องใส่ชื่อบริษัท'
      }
    },
    validFeedbackCorperation () {
      return this.stateCorperation === true ? 'สำเร็จ' : ''
    },
    stateHours () {
      return this.form.hours >= 1 && this.form.hours <= 24
    },
    invalidFeedbackHours () {
      if (this.form.hours >= 1 && this.form.hours <= 24) {
        return ''
      } else {
        return 'ต้องใส่ต้องจำนวนชั่วโมงการอบรม'
      }
    },
    validFeedbackHours () {
      return this.stateHours === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getTrains()
  }
}
</script>
