<template>
  <div class="overflow-auto">
    <div class="text-center">
      <br />
      <p>
        รายการสถานประกอบการ รอบที่ 1 วันที่ 8 กุมภาพันธ์ 2563 ถึงวันที่ 15
        กุมภาพันธ์ 2563
      </p>
    </div>
    <div class="row row-cols-2"></div>
    <b-modal
      id="modal-form-coperation"
      ref="modal-form-coperation"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table
      striped
      hover
      bordered
      :items="coperationList"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
    >
      <template v-slot:cell(operation)="data">
        <b-button
          size="sm"
          @click="showDetails(data)"
          pill
          variant="primary"
          v-b-modal.modal-show-co-details
          >ดูรายละเอียด</b-button
        >
        <b-modal id="modal-show-co-details" size="xl" title="รายละเอียด">
          <b-table striped hover :items="coperationList" :fields="details">
            <template v-slot:cell(operation2)="">
              <b-button size="sm" pill variant="primary"
                ><router-link to="/register">สมัคร</router-link></b-button>
            </template>
          </b-table>
        </b-modal>
      </template>
    </b-table>
    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      coperationList: [],
      fields: [
        { key: 'nameCo', label: 'รายชื่อบริษัท' },
        { key: 'operation', label: 'operation' }
      ],
      details: [
        { key: 'address', label: 'รายละเอียดของบริษัท/สถานที่ติดต่อ' },
        { key: 'position', label: 'ตำแหน่งงาน' },
        { key: 'amount', label: 'จำนวนที่รับ' },
        { key: 'welfare', label: 'สวัสดิการ' },
        { key: 'knowledge', label: 'ความสามารถทางวิชาการ' },
        { key: 'jobDescript', label: 'Job Description' },
        { key: 'workday', label: 'วันทำงาน' },
        { key: 'typeBussiness', label: 'ประเภทกิจการ' },
        { key: 'operation2', label: 'operation' }
      ],
      usersList: [],
      user: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'นามสกุล' },
        { key: 'stdNo', label: 'รหัสนิสิต' },
        { key: 'tel', label: 'โทรศัพท์' },
        { key: 'email', label: 'อีเมล' }
      ]
    }
  },
  methods: {
    resetModal () {
      this.form = {
        topic: '',
        content: ''
      }
    },
    showDetails () {
      console.log('Show Coperation Detail')
      this.title = 'รายละเอียด'
      this.$bvModal.show('modal-show-co-details')
    },
    register () {
      console.log('Register')
      this.title = 'ใบสมัครงานสหกิจศึกษา'
      this.$bvModal.show('modal-register-internship')
    },
    save (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขประกาศ'
      this.form = { ...user }
      this.$bvModal.show('modal-register-internship')
    },

    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Val_idate
      if (this.stateTopic === false || this.stateContent === false) return
      if (this.form._id !== '') {
        // Do when pass val_idation
        axios
          .put('http://localhost:3000/coperations', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/coperations', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // H_ide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-coperation')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/coperations')
        .then(res => {
          console.log(res)
          this.coperationList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getUsersID () {
      axios.get('http://localhost:3000/coperations')
    }
  },
  computed: {
    rows () {
      return this.coperationList.length
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUsers()
  }
}
</script>
