<template>
  <div class="overflow-auto">
    <div class="text-center">
      <br />
      <b-form-group
        label-cols-lg="12"
        label-text-align="middle"
        label="ใบสมัครสหกิจศึกษา"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
      </b-form-group>
    </div>
    <div class="row row-cols-2"></div>
    <b-card bg-variant="light">
      <b-form-group
        label-cols-lg="12"
        label-text-align="middle"
        label="ข้อมูลส่วนตัวนิสิต (APPLICANT 'S INFORMATION)"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
      </b-form-group>
        <b-table striped hover :items="usersList" :fields="users">
        </b-table>
      <b-form-group
        label-cols-sm="3"
        label="สาขาวิชา :"
        label-align-sm="left"
        class="mb-0"
      >
        <b-form-radio-group
          class="pt-2"
          :options="[
            'วิทยาการสารสนเทศ',
            'เทคโนโลยีสารสนเทศ',
            'วิศวกรรมซอฟแวร์'
          ]"
        ></b-form-radio-group>
      </b-form-group>
      <!-- </b-form-group> -->
      <!-- </b-modal> -->
    </b-card>
    <b-card bg-variant="light">
      <b-form-group
        label-cols-sm="5"
        label-text-align="middle"
        label="ชื่อสถานประกอบการที่ต้องการสมัคร"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        label-for="nested-nameCo"
      >
        <b-form-input id="nested-nameCo" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols-sm="1" label="1." label-for="nested-description">
        <b-form-input id="nested-description" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols-sm="3"
        label="สมัครงานในตำแหน่ง :"
        label-for="nested-position"
      >
        <b-form-input id="nested-position"></b-form-input>
      </b-form-group>
      <!-- </b-form-group> -->
    </b-card>
    <b-form-group label-cols-lg="4">
      <b-button variant="primary" @click="save(data.item)">บันทึก</b-button>
      &nbsp;
      <b-button variant="danger"
        ><router-link to="/coperations">ยกเลิก</router-link></b-button
      >
      &nbsp;
      <b-button variant="success" @click="print(data.item)">พิมพ์</b-button>
    </b-form-group>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      usersList: [],
      users: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'นามสกุล' },
        { key: 'stdNo', label: 'รหัสนิสิต' },
        { key: 'tel', label: 'โทรศัพท์' },
        { key: 'email', label: 'อีเมล' }
      ]
    }
  },
  methods: {
    resetModal () {
      this.form = {
        topic: '',
        content: ''
      }
    },
    register () {
      console.log('Register')
      this.title = 'ใบสมัครงานสหกิจศึกษา'
      this.$bvModal.show('modal-register-internship')
    },
    save (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขประกาศ'
      this.form = { ...user }
      this.$bvModal.show('modal-register-internship')
    },

    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Val_idate
      if (this.stateTopic === false || this.stateContent === false) return
      if (this.form._id !== '') {
        // Do when pass val_idation
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // H_ide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-coperation')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.coperationList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getUsersID () {
      axios.get('http://localhost:3000/users')
    }
  },
  computed: {
    rows () {
      return this.coperationList.length
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUsers()
  }
}
</script>
