<template>
  <div>
    <label>
      <h3>
        รายชื่อนิสิต
      </h3>
    </label>

    <b-nav-form class="float-right" style="margin-top:10px;">
      <div>
        <b-input-group>
          <b-form-input
            v-model="search"
            class="mr-sm-2"
            placeholder="กรุณากรอกไอดีเพื่อค้นหา"
          ></b-form-input>
          <b-button
            class="mr-sm-2"
            variant="primary"
            @click="searchProfessor()"
            >ค้นหา</b-button
          >
          <b-button
            class="my-2 my-sm-0"
            variant="success"
            @click="clearSearchProfessor()"
            >ดูทั้งหมด</b-button
          >
        </b-input-group>
      </div>
    </b-nav-form>

    <b-modal
      id="modal-form-professor"
      ref="modal-form-professor"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="อาจารย์ที่ปรึกษา"
          label-for="professor"
          :invalid-feedback="invalidFeedbackProfessor"
          :valid-feedback="validFeedbackProfessor"
          :state="stateProfessor"
        >
          <b-form-select
            id="professor"
            v-model="form.professor"
            :options="professorOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="modal-form-professor2"
      ref="modal-form-professor2"
      :title="title"
      @hidden="resetModal"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-card class="mt-3" header="อาจารย์ที่ปรึกษา">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </form>
    </b-modal>

    <div v-if="haveresult">
      <b-table
        hover
        no-border-collapse
        head-variant="light"
        :items="professorLists"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(operation)="data">
          <b-button variant="primary" @click="detelProfessor(data.item)"
            >รายละเอียด</b-button
          >
          &nbsp;
          <b-button variant="warning" @click="editProfessor(data.item)"
            >แก้ไข</b-button
          >
        </template>
      </b-table>
    </div>
    <div v-else><h3>ไม่พบผลลัพธ์การค้นหา</h3></div>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import professorService from './ProfessorService'
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      title: 'เพิ่มอาจารย์ที่ปรึกษา',
      haveresult: true,
      search: null,
      form: {
        _id: -1,
        studentId: '',
        name: '',
        professor: null
      },
      professorOptions: [
        { text: 'Select One', value: null },
        { value: 'อาจารย์กบ อ๊บๆ', text: 'อาจารย์กบ อ๊บๆ' },
        { value: 'อาจารย์เอก', text: 'อาจารย์เอก' },
        { value: 'อาจารย์โจ', text: 'อาจารย์โจ' },
        { value: '-', text: 'ไม่ระบุ' }
      ],
      professorLists: [],
      lastId: 3,
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'studentId', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'professor', label: 'อาจารย์ที่ปรึกษา' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    editProfessor (professor) {
      console.log('Edit ' + professor)
      console.log(professor)
      this.title = 'แก้ไขอาจารย์ที่ปรึกษา'
      this.form = { ...professor }
      this.$bvModal.show('modal-form-professor')
    },
    detelProfessor (professor) {
      this.title = 'ข้อมูลอาจารย์ที่ปรึกษา'
      this.form = { ...professor }
      this.$bvModal.msgBoxOk(professor.professor, {
        title: 'ข้อมูลอาจารย์ที่ปรึกษา',
        buttonSize: 'sm',
        centered: true,
        size: 'sm',
        okTitle: 'ยกเลิก'
      })
    },
    resetModal () {
      this.form = {
        _id: -1,
        studentId: '',
        name: '',
        professor: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      // Do when pass Validation
      if (this.stateProfessor === false) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/professors', this.form)
          .then(res => {
            console.log(res)
            this.getProfessors()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/professors', this.form)
          .then(res => {
            console.log(res)
            this.getProfessors()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-professor')
      })
    },
    updateProfessor (professor) {
      const index = this.professorLists.findIndex(
        item => item._id === professor._id
      )
      this.professorLists.splice(index, 1, professor)
    },
    getProfessors () {
      axios
        .get('http://localhost:3000/professors')
        .then(res => {
          console.log(res)
          this.professorLists = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchProfessor () {
      axios
        .get('http://localhost:3000/professors' + '/' + this.search)
        .then(res => {
          console.log(res)
          this.professorLists = []
          this.professorLists.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchProfessor () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getProfessors()
    }
  },
  computed: {
    rows () {
      return this.professorLists.length
    },
    validFeedbackName () {
      return this.stateProfessor === true ? 'Success' : ''
    },
    stateProfessor () {
      return this.form.professor != null
    },
    invalidFeedbackProfessor () {
      if (this.form.professor != null) {
        return ''
      } else {
        return 'โปรดเลือกอาจารย์ที่ปรึกษา'
      }
    },
    validFeedbackProfessor () {
      return this.stateProfessor === true ? 'Success' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getProfessors()
  }
}
</script>
